################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01-local-llm-inference/LocalLLM.Api/.vs
/01-local-llm-inference/LocalLLM.Api/bin/Debug/net10.0
/01-local-llm-inference/LocalLLM.Api/obj
/01-local-llm-inference/LocalLLM.Api/Properties
/02-embeddings/Embeddings.Api/obj
/02-embeddings/Embeddings.Api/Properties
/02-embeddings/Embeddings.Api/bin/Debug/net10.0
